.superButton {
  border: none;
  background-color: black;
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
}
.App {
  text-align: center;
}

.flexIT {
  display: flex;
  flex: wrap;
}
.todoCard {
  margin: 5px;
  flex-grow: 1;
  flex-basis: 250px;
  padding: 10px;
}
